<!DOCTYPE html>
<html>
<head>
	<title>WEL.ai</title>
</head>
<center>
	<font color="black" size="4" style="font-family: avenir">
		<h1 style="color: DodgerBlue">Event </h1>
		<body bgcolor="black">
			<form action="/index" autocomplete="on" method = "POST" enctype="multipart/form-data" style="color: white;">
		  		Name:  <input style="height:25px;font-size:14pt; color:grey;" type="text" name="name" autofocus size="20"><br><br>
		  		Interest:  <input style="height:25px;font-size:14pt;color:grey;" type="text" name="interest" ><br><br>
		  		Event Name:  <input style="height:25px;font-size:14pt;color:grey;" type="text" name="event_name"><br><br>
		  		Duration:  <input style="height:25px;font-size:14pt;color:grey;" type="text" name="duration"><br><br>
		  		Venue:  <input style="height:25px;font-size:14pt;color:grey;" type="text" name="venue"><br><br>		  		
				Date:  <input style="height:25px;font-size:14pt;color:grey;" type="text" name="date"><br><br>
				<!-- Image: <input type=file name="emp_image_file" style="height:25px;font-size:14pt;color:grey;"> <br><br>-->		  		
		  		<button type="submit" style="background: rgb(21, 4, 119); height: 45px; width: 200px; color: white; size: 5; font:oblique;">Generate</button>
			</form>
		</body>
	</font>
</center>
</html>
